.chip {
	display: inline-block;
	padding: 0 8px 0 8px;
	margin: 4px;
	height: 24px;
	font-size: 1rem;
	line-height: 24px;
	border-radius: 25px;
	border: 1px solid #332f2c;
	background-color: #171614;
	color: #f9c85a;
}

.chip-close {
	/* padding-left: 4px; */
	color: #332f2c;
	font-weight: bold;
	float: right;
	font-size: 1rem;
	line-height: 20px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABpSURBVDhP3Y1LCsAwCAU9WdtbquscL5eoDxQKiqTtLgMh8TMvtBmqOkTk8DJh8xM7XmYg25lVCGTMcHurpgpZloMIgfBaDkL8JINfASHjfr593FMJyyHdYsyY+fJWxpZG9wtk7Hi5B0Q3znR2B/H2w2MAAAAASUVORK5CYII=)
		no-repeat no-repeat;
	/* background-position: 0px 8px; */
	position: relative;
	right: 0;
	top: -24px;
}

.chip-text {
	width: 192px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chip-close:hover {
	color: #f9c85a;
}

.chip-box-clear {
	color: #9c9c90;
	display: block;
	float: right;
	right: 0;
	font-size: 1rem;
}

.chip-box-clear:hover {
	color: wheat;
}

.chip-box {
	width: 100%;
	padding: 8px 0;
	float: left;
	display: table;
	clear: both;
	background-color: #090909 !important;
	border: 1px solid #332f2c;
	min-height: 28px;
	z-index: 55;
}

.chip-list-wrapper {
	width: 260px;
	height: 210px;
	float: left;
	margin-right: 8px;
}

.auto-complete-wrapper {
	height: 210px;
	overflow-x: hidden;
	margin: 0 8px 0 0;
}

.hint {
	color: #f9c85a;
	height: 32px;
	line-height: 32px;
	border: 1px solid #332f2c;
	padding: 0 8px;
	transition: background-color 120ms ease;
	margin: 0 8px 10px 8px;
}

.hint:hover {
	background-color: #171614;
	cursor: pointer;
}

.chip-list-wrapper ul {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

.chip-list-wrapper li {
	list-style: none;
	height: 32px;
	min-height: 32px;
	max-height: 32px;
	margin: 0 8px 10px 8px;
	font-size: 1rem;
	line-height: 32px;
	padding-left: 8px;
	border-radius: 25px;
	border: 1px solid #332f2c;
	background-color: #171614;
	color: #f9c85a;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #090909;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #332f2c;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
