.search-button {
	position: absolute;
	display: block;
	width: 235px;
	height: 26px;
	top: 0px;
	left: 26px;
	font-size: 16px;
	line-height: 27px;
	border-right: 1px solid #332f2c;
	background-color: #090909;
	color: #9c9c90;
	transition: all 200ms ease;
}

.search-button:hover {
	color: #f9c85a;
	background-color: #0f0d0c;
}

.chip-close {
	color: #332f2c;
	font-weight: bold;
	float: right;
	font-size: 1rem;
	line-height: 20px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABpSURBVDhP3Y1LCsAwCAU9WdtbquscL5eoDxQKiqTtLgMh8TMvtBmqOkTk8DJh8xM7XmYg25lVCGTMcHurpgpZloMIgfBaDkL8JINfASHjfr593FMJyyHdYsyY+fJWxpZG9wtk7Hi5B0Q3znR2B/H2w2MAAAAASUVORK5CYII=)
		no-repeat no-repeat;
	position: relative;
	right: 0;
	top: -24px;
}

.chip-text {
	width: 192px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chip-close:hover {
	color: #f9c85a;
}

.chip-box-clear {
	color: #9c9c90;
	display: block;
	position: absolute;
	float: left;
	font-size: 1rem;
	margin-bottom: 7px;
	top: 230px;
	left: 222px;
}

.chip-box-clear:hover {
	color: wheat;
}

.chip-box {
	width: 100%;
	padding: 8px 0;
	float: left;
	display: table;
	clear: both;
	background-color: #090909 !important;
	border: 1px solid #332f2c;
	min-height: 28px;
	z-index: 55;
}

.chip-list-wrapper {
	width: 260px;
	height: 210px;
	float: left;
	border-right: 1px solid #332f2c;
}

.auto-complete-wrapper {
	height: 210px;
	overflow-x: hidden;
	margin: 0 8px 0 0;
	padding-left: 4px;
}

.hint {
	color: #a88054;
	height: 32px;
	line-height: 32px;
	border: 1px solid #332f2c;
	padding: 0 8px;
	transition: background-color 200ms ease;
	margin: 0 8px 10px 8px;
}

.hint:hover {
	color: hsl(42, 70%, 65%);
	cursor: pointer;
}

.hint-highlight {
	color: hsl(42, 70%, 65%);
}

.hint-class-highlight {
	color: #a7927a;
	pointer-events: none;
}

.chip-list-wrapper ul {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

.chip-list-wrapper li {
	list-style: none;
	height: 32px;
	min-height: 32px;
	max-height: 32px;
	margin: 0 8px 10px 8px;
	font-size: 1rem;
	line-height: 32px;
	padding-left: 8px;
	border: 1px solid #211e1c !important;
	box-shadow: 0 0 4px 0 rgb(0 0 0 / 75%);
	-webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 75%);
	background-color: #171614;
	color: #ffdf93;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #090909;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #332f2c;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
