body {
	padding: 12px;
	background-image: url(../images/background.png);
	/* background-size: contain; */
}

html {
	width: 270px;
	height: 329px;
}

.container {
	top: 0;
	left: 0;
	width: 100%;
}

.border-wrapper {
	float: left;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1000;
}

.button-group {
	position: fixed;
	width: 270px;
	left: 0px;
	bottom: 20px;
}

.input-group {
	position: relative;
	display: inline-block;
	width: 100%;
}

.input-group .tooltiptext {
	width: 90%;
	position: absolute;
	padding: 8px 8px;
	margin-left: 2%;
	opacity: 0;
	text-align: center;
	font-size: 1rem;
	visibility: hidden;
	background-color: black;
	color: #ab8d4e;
	border: 1px solid #ab8d4e;
	display: block;
	z-index: 1;
	float: inherit;
	pointer-events: none;
	transition: opacity 0.2s;
	z-index: 22;
}

.input-group:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
