.btn-wide {
	position: absolute;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 32px;
	margin: 8px;
	background-color: #0f2833;
	color: #3fa5d4;
	border: 2px solid #2c7394;
	transition: all 250ms ease;
	border-radius: 6px;
}

.btn-wide:hover {
	background-color: #194154;
}
